* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #000;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

p {
    color: rgb(85, 180, 101);
}

.container p {
    color: blue;
}

/* ul li {
    background-color: red;
} */

ul>li>ul>li {
    background-color: green;
}

h1~p {
    color: red;
}

input {
    border: 1px solid green;
}

input[type="text"] {
    border-color: red;
}

input[type="password"] {
    border-color: rgb(0, 183, 255);
}

input[type="email"] {
    border-color: rgb(0, 255, 162);
}
h1:hover {
    color: palegreen;
}
p:hover {
    background-color: blueviolet;
}
input:focus{
    color: aqua;
}
input[type="checkbox"]:checked + label {
    font-weight: bold;
}
/* ol li:first-child{
    color: red;
}

ol li:last-child{
    color: rgb(55, 129, 219);
} */
 /* ol li:nth-child(2n + 3){
    color: yellow;
 }
 ol li:not(:last-child) {
    color: red;
 }

 ol li:nth of type(2n + 3){
    color: yellow;
/* ol {
    list-style: none; */

/* } */ */
/* ol li::before{
    content: "ABC";
}
ol li::after{
    content: "DEF";
} */

ul {
    list-style: none;
}
ul li {
    position: relative;
    padding-left: 16px;
}
ul li::before {
    content:"";
    width: 10px;
    height: 10px;
    background-color: purple;
    position: absolute;
    left: 0;
    top:8px;
    border-radius: 50%;
}